
.section-sign{
    height: 100vh;
}

.sign-img{
    width: 100%;
}

.sign-img img{
    width: 70%;
}

.update-img{
    width: 100%;
}

.update-img img{
    width: 50%;
}

.sign-page{
    gap: 4rem;
    flex-direction: column;
}

.sign-page h2{
    letter-spacing: .2rem;
    font-size: 3.2rem;
    font-weight: 400;
}

.sign-page form{
    width: 70%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.sign-page form input{
    width: 100%;
    padding: 1.5rem 1rem 1.5rem 5rem;
}


.sign-page form .btn{
    padding: 1.4rem;
    letter-spacing: .2rem;
    text-transform: capitalize;
    font-weight: 400;
}


.sign-page form a{
    font-size: 1.4rem;
}


.sign-page span{
    font-size: 1.4rem;
}

.sign-page span a{
    font-size: 1.6rem;
    font-weight: 600;
}

.sign-input{
    position: relative;
}

.sign-input > svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: var(--black);
    left: 0;
}

#registerImage{
    width: 100%;
    gap: 2rem;
}

#registerImage img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#registerImage > input {
    display: flex;
    padding: 0%;
  }

#registerImage > input::file-selector-button {
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 6vh;
    border: none;
    margin: 0%;
    font-size: 1.4rem;
    transition: all 0.5s;
    padding: 0 1vmax;
    color: rgba(0, 0, 0, 0.623);
    background-color: rgb(255, 255, 255);
  }
  
  #registerImage > input::file-selector-button:hover {
    background-color: rgb(235, 235, 235);
  }

@media (max-width:1100px){

    .sign-page form input{
        padding: 1.5rem 1rem 1.5rem 5rem;
    }

    .sign-input > svg{
        transform: translateX(1.4vmax);
        -webkit-transform: translateX(1.4vmax);
        -moz-transform: translateX(1.4vmax);
        -ms-transform: translateX(1.4vmax);
        -o-transform: translateX(1.4vmax);
    }
}

@media (max-width:980px){

    .sign-page form input{
        padding: 1.5rem 1rem 1.5rem 4rem;
    }

    .sign-input > svg{
        transform: translateX(1.4vmax);
        font-size: 2vmax;
        -webkit-transform: translateX(1.4vmax);
        -moz-transform: translateX(1.4vmax);
        -ms-transform: translateX(1.4vmax);
        -o-transform: translateX(1.4vmax);
    }
    #registerImage img{
        width: 7rem;
        height: 7rem;
    }

}


@media (max-width:780px){

    .sign-page form input{
        padding: 1.5rem 1rem 1.5rem 4rem;
    }

    .sign-input > svg{
        transform: translateX(1.4vmax);
        font-size: 2.4vmax;
        -webkit-transform: translateX(1.4vmax);
        -moz-transform: translateX(1.4vmax);
        -ms-transform: translateX(1.4vmax);
        -o-transform: translateX(1.4vmax);
}

    #registerImage img{
        width: 6rem;
        height: 6rem;
    }

    .sign-img img{
        width: 90%;
    }

    .sign-page form{
        width: 80%;
    }

}

@media (max-width:580px){

    .section-sign .grid-two-col{
        grid-template-columns: 1fr;
    }

    .sign-img img{
        padding: 0 2rem 0 0 ;
        width: 70%;
    }

    .sign-page form{
        width: 90%;
    }

    .sign-page form input{
        padding: 1.5rem 1rem 1.5rem 5rem;
    }

    .sign-input > svg{
        transform: translateX(2vmax);
        font-size: 2vmax;
        -webkit-transform: translateX(2vmax);
        -moz-transform: translateX(2vmax);
        -ms-transform: translateX(2vmax);
        -o-transform: translateX(2vmax);
}

    .sign-page form .btn{
        padding: 2rem;
        font-weight: 500;
    }
}